:root {
  --text-animation-time: 8s;
  --video-animation-time: 0.8s;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  overflow-x: hidden;
}

.video {
  width: 80%;
  height: 50%;
}

.absolute-position {
  position: absolute;
}

.video-appear {
  animation: video-appear var(--video-animation-time) ease;
}

.video-exit-right {
  animation: video-exit-right var(--video-animation-time) linear;
}

.video-exit-left {
  animation: video-exit-left var(--video-animation-time) linear;
}

.video-text-container {
  pointer-events: none;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin: 10px;
}

.video-index {
  color: white;
  padding: 10px;
  background-color: #21c1dd;
  animation: video-index var(--text-animation-time) ease;
  margin: 0;
  transform: translateY(100%);
}

.video-index-text {
  margin: 0;
  animation: video-index-text var(--text-animation-time) ease;
}

.video-description {
  padding: 10px;
  animation: video-description var(--text-animation-time) ease;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  transform: translateX(-100%);
}

.button {
  margin: 16px;
  cursor: pointer;
}

.buttons-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 70%;
}

.play-button {
  opacity: 0;
  background-image: url(http://clipart-library.com/images_k/white-play-button-transparent/white-play-button-transparent-21.png);
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  margin: auto;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.button-appear:hover {
  opacity: 1;
  transition: 0.4s ease;
}

.arrow {
  outline: none;
  opacity: 0;
  border: solid #edf6ff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 3px;
  background-color: inherit;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.overflow-hidden {
  overflow: hidden;
}

@keyframes video-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes video-exit-left {
  100% {
    transform: translatex(-120%);
  }
}

@keyframes video-exit-right {
  100% {
    transform: translatex(120%);
  }
}

@keyframes video-index {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes video-index-text {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(1.2);
  }
  35% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes video-description {
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-100%);
  }
}
